# R enviroment files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Temporary Files
.DS_store

# Data
2_Optimization_in_Asset_Management/FERM_3_Assignment_1.xlsx
2_Optimization_in_Asset_Management/Assignment2.xlsx
2_Optimization_in_Asset_Management/FERM_3_Assignment_2.xlsx